h3.section Recent Additions
section#recent-additions.scrollspy
  table
    thead
      tr
        th(data-field="id") topic
        th(data-field="name") url
    tbody
      tr
        td Alvin
        td
          a(href="#") wut
      tr
        td Alan
        td
          a(href="#") wut
      tr
        td Jonathan
        td
          a(href="#") wut