
#chrome-extension-guide.scrollspy
  h3 Chrome Extension Guide

  ol
    li 1.
      a(href='https://github.com/rumblex/nodeknockout2016') &nbsp;Clone Repo
    li 2. Install the plugin located at `chrome-ext/` and
      a(href='https://developer.chrome.com/extensions/getstarted#unpacked') &nbsp;follow install instructions
    li 3. Go to an article you want to share
      a(href='https://api.slack.com/slash-commands') &nbsp;Familiarize yourself with the api
    li 4. Click on the Extension Icon in your browser's toolbar. \o/

