.container
  .row
    .col.l6.s12
      h5.white-text docbot
      p.grey-text.text-lighten-3.
        get learning resources through Slack!
    .col.l4.off-set12.s12
      ul
        li
          a.grey-text.text-lighten-3(href='#') admin
        li
          a.grey-text.text-lighten-3(href='#') graphs
        li
          a.grey-text.text-lighten-3(href='#') about
        li
          a.grey-text.text-lighten-3(href='#') contact

.footer-copyright
  .container
    .row
      .col.s12.grey-text.text-lighten-3 © 2016 built by
        | &nbsp;
        a.grey-text.text-lighten-3(href='https://github.com/wata123') wata
        | &nbsp;
        a.grey-text.text-lighten-3(href='https://github.com/senakamura') naka
        | &nbsp;
        a.grey-text.text-lighten-3(href='https://github.com/jaywon') jaywa
        | &nbsp;
        a.grey-text.text-lighten-3(href='https://github.com/sgnl') ra
        a.grey-text.text-lighten-4.right(href='https://github.com/rumblex/nodeknockout2016-jgrs')
          i.material-icons.tiny code
          span  on GitHub