h3 Docbot is...
blockquote.marketing.good a Slack integration for retrieving articles by topic relevancy
blockquote.marketing.good a Chrome browser extension tool for adding new content
blockquote.marketing.good using IBM's Watson API to help with concept tagging and relevance ranking

.divider

#getting-started.section
  h3 Getting started

  blockquote.marketing.good
    a(href='#') Integrate into Slack

  blockquote.marketing.good
    a(href='#') Get the Chrome Extension (used to add new content)

.divider

#usage.section
  h3 Usage
  blockquote.marketing.good
    pre.code-snippet /docbot [topic]