h3 Docbot is...
blockquote.marketing.good a Slack integration for retrieving articles by topic relevancy
blockquote.marketing.good a Chrome browser extension tool for adding new articles
blockquote.marketing.good using IBM's Watson API to help with concept tagging and relevance ranking
blockquote.marketing.good customizable and self-deployable so you can tailor it to your slack communities' needs.
  a(href="#recent-additions") &nbsp;Explore Dev League's javascript collection!
blockquote.marketing.good disrupting the slack slash command market

.divider

#getting-started.section.scrollspy
  h3 Getting started

  blockquote.marketing.good
    a(href='#') Integrate into Slack

  blockquote.marketing.good
    a(href='#') Get the Chrome Extension (used to add new content)

.divider

#usage.section
  h3 Usage
  blockquote.marketing.good
    pre.code-snippet /docbot [topic]