ul#slide-out.side-nav.fixed
  li
    .userView
      .background
  li
    a#logo(href='/')
      img#icon(src='assets/imgs/slack-symbol.png', alt='slack')
      | /docbot
  li
    .divider
  li
    a(href='/admin')
      h5 Admin
  li
    .divider
  li
    a(href='/additions')
      h5 Recent Additions
  li
    .divider
  li
    a(href='/recent')
      h5 Recent Asks
  li
    .divider
  li
    a(href='/popular')
      h5 Frequent Asks
  a.button-collapse.hide-on-med-and-up(href='#', data-activates='slide-out')
    i.material-icons menu
