.pin-side-nav(data-target='content')
  img.side-nav-logo
  ul.section.table-of-contents
    li
      a(href='#getting-started') Getting Started
    li
      a(href='#recent-additions') Recent Additions
    li
      a(href='#recent-requests') Recent Requests
    li
      a(href='#popular-resources') Popular Resources
    //- li
    //-   a(href='#source-code')
    //-     small source code
    li
      a(href='#top')
        small /docbot v1.0.0
