ul.side-nav
  li
    .userView
  li
    a(href='#!')
      img#icon(src='assets/imgs/slack-symbol.png', alt='slack')
      | /docbot
  li
    .divider
  li
    a(href='#!') Admin
  li
    .divider
  // <li><a class="subheader">Subheader</a></li>
  li
    a(href='#!') Recent Additions
  li
    .divider
  li
    a(href='#!') Recent Asks
  li
    .divider
