h3.section Recent Requests
section#recent-requests.scrollspy
  table.bordered
    thead
      tr
        th(data-field="id") topic
        th(data-field="name") url
    tbody
      tr
        td Alvin
        td
          a(href="#") wut
      tr
        td Alan
        td
          a(href="#") wut
      tr
        td Jonathan
        td
          a(href="#") wut