
#slack-integration-guide
  h3 Slack Integration Guide
  p.
    This will walk you through set-up and will connect you to the Dev League Javascript Database. Alternatively, you could demo


  ol
    li 1. Create a slack channel
    li 2. Go to the
      a(href='https://docbotdemo.slack.com/apps') &nbsp;Slack App directory
      | &nbsp;and install the "Slash Command" integration.
    li 3.
      a(href='https://api.slack.com/slash-commands') &nbsp;Familiarize yourself with the api
    li 4. Add this to the Method and URL field in your "slash_command" integration settings:
    pre.code-snippet POST http://ec2-54-165-205-21.compute-1.amazonaws.com/slack
    li 5. Go to your Slack Team and test with
    pre.code-snippet /docbot oop

