
#slack-integration-guide
  h3 Slack Guide


  ol
    li 1. Create a slack channel
    li 2. Go to the
      a(href='https://docbotdemo.slack.com/apps') &nbsp;Slack App directory
      | &nbsp;and install the "Slash Command" integration.
    li 3.
      a(href='https://api.slack.com/slash-commands') &nbsp;RTFM
