extends layouts/application

block content
  //- Banner with general information.
  section.col.s12
    .col.s8
      h1#title /docbot
      .divider
      h4#subtitle No (good) link left behind.
  section.main-content
    //- Recently added links from admin.
    .column
      .card.col.s12
        .title
          h4 Recent Additions
          h6 See more
        section.recent-additions
          ul
            li
              h5 Category
              | www.ijustpostedthisurl.com
            li
              h5 Category
              | www.thiswasthesecondmostrecentpost.com
            li
              h5 Category
              | www.thiswasthethirdmostrecentpost.com
            li
              h5 Category
              | www.thiswasthefourthmostrecentpost.com
            li
              h5 Category
              | www.thiswasthefifthmostrecentpost.com
      //- Most frequent keywords asked and links pulled.
      .card.col.s12
        .title
          h4 Frequent Asks
          h6 See more
        section.frequent-asks
          ul
            li
              h5 Category
              | www.mostaskedforurlever.com
            li
              h5 Category
              | www.thiswasthesecondmostaskedfor.com
            li
              h5 Category
              | www.thiswasthethirdmostaskedfor.com
            li
              h5 Category
              | www.thiswasthefourthmostaskedfor.com
            li
              h5 Category
              | www.thiswasthefifthmostaskedfor.com
      //- Most recent ask. Live updates.
      .card.col.s12
        .title
          h4 Recent Asks
          h6 See more
        section.recent-asks
          ul
            li
              h5 Category
              | www.ijustaskedforthisurl.com
            li
              h5 Category
              | www.thiswasthesecondmostrecentask.com
            li
              h5 Category
              | www.thiswasthethirdmostrecentask.com
            li
              h5 Category
              | www.thiswasthefourthmostrecentask.com
            li
              h5 Category
              | www.thiswasthefifthmostrecentask.com
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="assets/js/materialize.min.js"></script>
  <script src="assets/js/index.js"></script>
