html, body, .block {
  height: 100%;
}

body {
  color: #333;
  background-color: #eee;
}

blockquote.marketing.good {
  border-left: 6px solid #66bb6a;
}

blockquote.marketing.bad {
  border-left: 6px solid #ef5350 ;
}

img.side-nav-logo {
  display: block;
  margin-top: 30px;
  /* chrome img border hack re: http://stackoverflow.com/a/14709695/2612640 */
  height: 0;
  width: 0;
  padding: 70px 80px;

  background-image: url('/assets/imgs/docbot-logo.png');
  background-size: contain;
  background-position: center center;
}

ul.section.table-of-contents li a.active {
  border-left: 2px solid #66bb6a;
}