nav {
  height: 80px;
  width: 835px;
  /*background-color: yellow;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul {
  height: 80px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
  align-items: center;
  list-style-type: none;
}
