extends ../layouts/application

block content
  section.main-content
    //- Recently added links from admin.
    .card-page.col.s12
      .title
        h4 Recent Additions
      section.links
        ul
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.ijustpostedthisurl.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthesecondmostrecentpost.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthethirdmostrecentpost.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthefourthmostrecentpost.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthefifthmostrecentpost.com
