extends ../layouts/application

block content
  section.main-content
    //- Recently added links from admin.
    .card-page.col.s12
      .title
        h4 Recent Additions
      section.links
        ul
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
          li
            a(href='')
              h5
