extends ../layouts/application

block content
  section.main-content
    //- Most recent ask. Live updates.
    .card-page.col.s12
      .title
        h4 Recent Asks
      section.links
        ul
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.ijustaskedforthisurl.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthesecondmostrecentask.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthethirdmostrecentask.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthefourthmostrecentask.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthefifthmostrecentask.com
