extends ../layouts/application

block content
  section.main-content
    //- Most recent ask. Live updates.
    .card.col.s12
      .title
        h4 Recent Asks
      section.recent-asks
        ul
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.ijustaskedforthisurl.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthesecondmostrecentask.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthethirdmostrecentask.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthefourthmostrecentask.com
          li
            img(src='assets/imgs/slack.png', alt='')
            h5 www.thiswasthefifthmostrecentask.com
      .footer
        h6.see-more See more
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="assets/js/materialize.min.js"></script>
  <script src="assets/js/index.js"></script>
