section.main-content {
  height: 1000px;
  width: 1000px;
  /*background-color: brown;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.recent-additions {
  height: 300px;
  width: 800px;
  /*background-color: pink;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px #888;
  overflow: scroll;
}

section.recent-additions li {
  margin-bottom: 10px;
  margin-top: 10px;
  list-style-type: none;
}

section.most-frequent-asks {
  height: 300px;
  width: 800px;
  /*background-color: red;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px #888;
  overflow: scroll;
}

section.most-frequent-asks li {
  margin-bottom: 10px;
  margin-top: 10px;
}

section.recent-asks {
  height: 300px;
  width: 800px;
  /*background-color: purple;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px grey;
  overflow: scroll;
}

section.recent-asks li {
  margin-bottom: 10px;
  margin-top: 10px;
}
