include ../components/header
include ../components/footer

doctype
html
  head
    title DocBot
    link(rel="stylesheet" href="assets/css/app.css")

  body#app
    +header

    block content

    +footer

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='css/styles.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    title Document
  body#app
    .container
    +nav

    block content
      
      // Banner with general information.
      section.banner
        .information
          h1#title
            img#slack(src='slack-symbol.png', alt='slack')
            | /docbot
          h3#subtitle No (great) link left behind.
      section.main-content
        // Recently added links from admin.
        .title
          h2 Recent Additions
          h5 See more
        section.recent-additions
          ul
            li
              h3 Category
              | www.ijustpostedthisurl.com
            li
              h3 Category
              | www.thiswasthesecondmostrecentpost.com
            li
              h3 Category
              | www.thiswasthethirdmostrecentpost.com
            li
              h3 Category
              | www.thiswasthefourthmostrecentpost.com
            li
              h3 Category
              | www.thiswasthefifthmostrecentpost.com
        // Most frequent keywords asked and links pulled.
        .title
          h2 Frequent Asks
          h5 See more
        section.most-frequent-asks
          ul
            li
              h3 Category
              | www.mostaskedforurlever.com
            li
              h3 Category
              | www.thiswasthesecondmostaskedfor.com
            li
              h3 Category
              | www.thiswasthethirdmostaskedfor.com
            li
              h3 Category
              | www.thiswasthefourthmostaskedfor.com
            li
              h3 Category
              | www.thiswasthefifthmostaskedfor.com
        // Most recent ask. Live updates.
        .title
          h2 Recent Asks
          h5 See more
        section.recent-asks
          ul
            li
              h3 Category
              | www.ijustaskedforthisurl.com
            li
              h3 Category
              | www.thiswasthesecondmostrecentask.com
            li
              h3 Category
              | www.thiswasthethirdmostrecentask.com
            li
              h3 Category
              | www.thiswasthefourthmostrecentask.com
            li
              h3 Category
              | www.thiswasthefifthmostrecentask.com
    script(src='js/index.js')
