extends ../layouts/application

block content
  section.main-content
    //- Most frequent keywords asked and links pulled.
    .card-page.col.s12
      .title
        h4 Coming soon on a route near you. 
