extends ../layouts/application

block content
  section.main-content
    //- Recently added links from admin.
    .column
      .card-page.col.s12
        .title
          h4 Coming soon on a route near you. 
